mobile/
zfreact/
chauffeur/
technicien/
frontend/node_modules/
frontend/docs/
/frontend/.vscode/
/frontend/public/
/frontend/src/
/frontend/*.*
/backend/var/cache/*
/backend/var/logs/*
/backend/var/sessions/*
/backend/var/log/*
/backend/public/fichiers/
/backend/composer.phar
!/backend/var/cache/.gitkeep
!/backend/var/logs/.gitkeep
!/backend/var/sessions/.gitkeep
/backend/var/log/*
!/backend/var/log/.gitkeep
/backend/public/fichiers/
/backend/composer.phar
/backend/.web-server-pid
backend/migrations/
backend/node_modules/
backend/.vscode/
#backend/.env
backend/config/packages/nelmio_cors.yaml
backend/composer.lock
backend/composer.json
backend/php.ini
backend/vendor/
backend/symfony.lock
.vscode/
#.gitignore